<section>
<h2><%= @dog.name %></h2>


  <% @dog.images.each do |image| %>
    <%= image_tag url_for(image), alt: "Photo of #{@dog.name}" %>
  <% end %>

  <p><%= @dog.description %></p>

  <h3>Likes: <%= @dog.likes.count %></h3>

  <% if current_user != @owner %>
    <% if @like %>
      <%= button_to "Unlike", dog_like_path(@dog), method: :delete %>
    <% else %>
      <%= button_to "Like", dog_likes_path(@dog), method: :post %>
    <% end %>
  <% end %>

  <% if @owner == current_user %>

  <span> the owner is: </span>
  <h3><%= @owner.email %></h3>

  <%= link_to "Edit #{@dog.name}'s Profile", edit_dog_path %>
  <br>
  <%= link_to "Delete #{@dog.name}'s Profile", dog_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</section>
